<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/bootstrap-4.0.0-dist/css/bootstrap.min.css" />
    <include path="~/Content/fontawesome-all.css" />
    <include path="~/Content/SwetAlert/sweetalert.css" />
    <include path="~/Content/DateTimePicker-min.css" />
    <include path="~/Content/Site.css" />
    <include path="~/Content/Inicio/nicio.css" /> 
    <include path="~/Content/Usuarios/Usuarios.css" /> 
    <include path="~/Content/Solicitud/Solicitud.css" /> 
    <include path="~/Content/Solicitud/AprobacionSolicitud.css" />
  
  </styleBundle>
</bundles>